@import "vars.css";

.shell {
  padding: 19px;
  border: 2px solid #fff;
  text-align: center;
  margin-bottom: 20px;

  button {
    padding: 10px 11px;
    font-size: 16px;
    float: left;
    margin-right: 13px;
    @media(--phone) {
      width: 100%;
      float: none;
      margin-bottom: 10px;
    }
  }
  button:last-of-type {
    margin-right: 0;
  }
}

.connectedStr {
  font-size: 16px;
  margin-top: 14px;
  margin-bottom: -8px;
  font-family: KarlaBold;
}
.connectStr {
  font-size: 16px;
  margin-top: 14px;
  margin-bottom: -15px;
  font-family: KarlaBold;
}

:global(.block-color-white) {
  .shell {
    border-color: $dark;

    div:first-of-type {
      margin-bottom: 20px;
    }
    button {
      width: 48%;
    }
  }
}