@import "vars.css";
.block-image {
  background: $canvas;
  float: left;
  margin-bottom: 86px;
  margin-right: 48px;

  &:nth-of-type(2n) {
    margin-right: 0;
  }

  h2 {
    font-family: "Vitesse";
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 20px;
  }
  .image-header {
    margin-bottom: 48px;
  }
  .content {
    padding: 0 50px 50px;
  }
  p {
    margin-bottom: 0;
  }
}
.block-text {
  h4 {
    font-family: "VitesseLight";
    font-size: 24px;
    line-height: 38px;
    color: $dark;
  }
  h2 {
    font-family: "Vitesse";
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 32px;
  }
  p {
    font-size: 18px;
    line-height: 27px;
    color: $dark;
    margin-bottom: 32px;
  }
}

/*:global(.section-white) .block-text {
  h2 {
    color: $orange;
  }
};*/