@import 'vars';

.shell {
  position: relative;
  h1 {
    font-size: 42px;
    font-family: Vitesse;
    margin-bottom: 80px;
  }
}

.section-head {
  position: absolute;
  margin: 0 auto;
  top: 160px;
  right: 0;
  left: 0;
  font-size: 42px;
  margin-bottom: 84px;
  color: $white;
  text-align: center;
  font-family: VitesseBold;
}

.back {
  font-family: Karla;
  font-size: 12pt;
  padding: 20px;
  padding-left: 0;
  color: $white;
  display: block;
  text-decoration: none;
  margin-bottom: -20px;
  opacity: 0.7;
  width: 120px;
  transition: 0.2s all;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
:global(.col1) {
  .back {
    margin-top: 20px;
    padding: 30px;
    padding-left: 0;
    width: 100%;
  }
}


.part-shell {
  position: absolute;
  left: 0;
  right: 0;
  top: 280px;
  margin: 0 auto;
  color: $white;
  width: 880px;

  &:global(.focused) {
    padding: 40px;
    background: rgba(0,0,0,0.06);
    width: 725px;
    margin: 0 auto;

    p {
      font-size: 20px;
    }

    .content-shell {
      width: 500px;
      float: none;
    }
  }

  h3 {
    font-family: Vitesse;
    font-size: 28px;
    margin-bottom: 36px;
  }
  p {
    line-height: 26px;
  }
  button {
    margin-top: 32px;
  }
  .sublabel {
  }
}

.content-shell {
  float: left;
  width: 415px;
  margin-right: 100px;
}
:global(.col1) {
  width: 550px;
  margin: 0 auto;
  text-align: center;

  .content-shell {
    float: none;
    width: 100%;
    text-align: center;
    margin-right: 0;
  }

  .form-shell {
    float: none;
    margin: 0 auto;
  }
}

:global(.col2-form) {
  .form-shell {
    width: 650px;
    margin-left: -50px;
  }
}
.form-shell {
  float: left;
  width: 365px;

  label {
    color: $white;
    margin-bottom: 8px;
    display: block;
  }
  input, textarea {
    margin-bottom: 8px;
    color: $white;

    &::placeholder {
      color: $white;
      opacity: 0.8;
    }
    &:placeholder {
      opacity: 0.8;
    }
    &::-webkit-input-placeholder {
      opacity: 0.8;
    };
  }
  textarea {
    border: 2px solid $white;
    background: transparent;
    padding: 10px;
    width: 100%;
    height: 120px;
  }
}

.progress {
  position: relative;
  width: 671px;
  margin: 0 auto;
  overflow: hidden;

  .progress-frame {
    background: url(https://files.wds.fm/images/elm/progress-shell-long.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 671px;
    height: 39px;
    position: relative;
    z-index: 4;
  }
  .progress-fill {
    background: $green;
    z-index: 1;
    height: 35px;
    width: 98%;
    top: 3px;
    position: absolute;
    left: 4px;
  }
  .progress-bar {
    background: $white;
    position: absolute;
    right: 6px;
    top: 1px;
    z-index: 2;
    height: 37px;
    width: 3px;
    transition: 0.7s all;
    &:before {
      background: url(https://files.wds.fm/images/elm/progress-cap.png);
      height: 32px;
      width: 7px;
      content: "";
      position: absolute;
      z-index: 3;
      left: -6px;
      display: block;
      top: 2px;
    };
  }
}

.sublabel {
  font-size: 14px;
  font-family: KarlaItalic;
  opacity: 0.8;
  margin-top: -5px;
  margin-bottom: 10px;
}
