@import "vars.css";

:global(.block) {
  -webkit-transform: translate3d(0,0,0);
}
.block-4col {
  padding-top: 60px;
  &:nth-of-type(4n) {
    margin-right: 0 !important;
  }
  h2 {
    font-size: 28px;
    color: $blue;
    font-family: "Vitesse";
  }
  p:first-of-type {
    margin-top:10px;
  }
  ul {
    margin-top: 10px;
  }
  p, li {
    font-size: 14px;
    line-height: 22px;
    margin-top: 4px;
  }
}
:global(.grid-block.dropped-button) {
  position: relative;
}
.block-caption {
  width: 303px;
  height: 222px;
  position: relative;
  float: left;
  margin-right: 25px;
  margin-bottom: 24px;

  a {
    color: $orange !important;
  }

  .label {
    background: $orange;
    color: $white;
    position: absolute;
    top: -4px;
    right: -16px;
    font-family: Karla;
    font-size: 14px;
    padding: 9px 16px;
    z-index: 2;
  }
  .content {
    background: color($canvas a(90%));
    padding: 14px 40px;
    font-family: Vitesse;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    h3 {
      font-weight: 400;
      font-size: 18px;
      color: $dark !important;
    }
    p {
      font-size: 15px;
      font-family: VitesseBook;
      margin-bottom: 0;
      line-height: 18px;

      strong {
        color: $orange;
        font-weight: 400;
      }
    }
  }
}
.block-image {
  background: $white;
  padding: 0;

  &:nth-of-type(2n) {
    margin-right: 0;
  }
  .image {
    margin-bottom: 48px;
  }
  .content {
    padding: 0 50px 35px;

    @media(--phone) {
      padding: 0 25px 20px;
    }
  }
  p {
    font-size: 14.5px;
    line-height: 23px;
  }
}
:global(.grid-block).block-color {
  .heading {
    height: 28px;
  }
  .content {
    -webkit-transform: translate3d(0,0,0);
    padding: 30px 20px 20px;
    margin-top: -10px;
    background: #fff;
  }
}
.block-color {
  background: $canvas;
  margin-right: 36px;
  &:nth-of-type(3n) {
    margin-right: 0;
  }
  .heading {
    height: 60px;
  }
  .content {
    padding: 40px 40px 40px;
  }
  h3 {
    font-family: VitesseBook;
    font-size: 26px;
    margin-bottom: 20px;
  }
  p, li {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 16px;
  }
  li {
    list-style-position: outside;
    list-style-type: none;
    position: relative;
    padding-left: 16px;
    &:before {
      display: block;
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $orange;
      position: absolute;
      left: -10px;
      top: 0;
      bottom: 0;
      margin: auto 0;
    }
  }
}
:global(.block-colored) {
  -webkit-transform: translateZ(0);
}
:global(.block-colored-) {
  &blue li:before { background: $blue; };
  &green li:before { background: $green; };
}
.block-image-narrow {
  background: $canvas;
  &:nth-of-type(3n) {
    margin-right: 0;
  }
  .image {
    margin-bottom: 26px;
  }
  .content {
    padding: 0 20px 28px;
  }
  h2 {
    font-size: 23px !important;
    line-height: 30px !important;
  }
}
.block-image, .block-image-narrow {
  float: left;
  margin-bottom: 86px;
  margin-right: 48px;

  @media(--phone) {
    margin-bottom: 30px;
  }

  h2 {
    font-family: "Vitesse";
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 20px;
  }
  span:last-child p {
    margin-bottom: 0;
  }
}
.block-image-overlay {
  clear: both;
  position: relative;
  margin-bottom: 120px !important;
  .image-shell {
    position: relative;
  }
  .image {
    width: 475px;
  }
  .content {
    background: white;
    width: 448px;
    text-align: left;
    position: relative;
    top: 60px;
    min-height: 330px;

    p {
      font-size: 14px;
      line-height: 22px;
    }
  }
  .icon {
    position: absolute;
    bottom: -25px;
    right: -20px;
  }
}
.overlay-left {
  .image-shell {
    float: left;
  }
  .content {
    float: left;
    padding: 70px 0 0 75px;
    margin-left: -106px;
  }
  .icon {
    left: -20px;
  }
}
.overlay-right {
  .image-shell {
    float: right;
  }
  .content {
    float: right;
    padding: 70px 75px 0 0;
    margin-right: -106px;
  }
  .icon {
    right: -20px;
  }
}
.block-text, .block-padded {
  ul, ol {
    list-style-position: outside;
    padding: 0;
    margin:  0 0 0 15px;
  }
  li {
    margin-bottom: 8px;
  }
  a {
    color: $orange;
  }
  h5 {
    font-family: Karla;
    font-size: 18px;
  }
  h4 {
    font-family: "VitesseLight";
    font-size: 24px;
    line-height: 38px;
    color: $dark;

  }
  @media(--phone) {
    h4 {
      font-size: 18px;
      line-height: 30px;
      padding: 0 15px;
    }
  }
  h2 {
    font-family: "Vitesse";
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 32px;
  }
  h3 {
    line-height: 160%;
  }
  p {
    font-size: 15px;
    line-height: 24px;
    color: $dark;
    margin-bottom: 32px;
  }
  h2:nth-of-type(2) {
    margin-top: -28px;
  }
}

:global(.block-dynamic) {
  position: relative;

  .block-dynamic-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px;

    span {
      height: 100%;
    }

    .block-tweet {
      font-size: 26px;
      height: auto;
      font-family: Vitesse;
      color: $white;
      text-align: left;
      @media (--phone) {
        font-size: 20px;
      }
    }
    .block-tweeter {
      font-size: 15px;
      height: auto;
      font-family: Karla;
      color: $white;
      position: absolute;
      bottom: 25px;
      left: 40px;
    }
  };
  .icon {
    position: absolute;
    bottom: -20px;
    right: -20px;
  }
}

:global(.section-white) .block-image{
  background: $canvas;
}
:global(.section-orange) .block-text {
  h2, p {
    color: $white;
  }
};
:global(.block-color-sea) {
  h3 {
    color: $white;
    font-family: Vitesse;
    margin-bottom: 10px;
  }
  a {
    color: $white;
  }
}
:global(.block-color-orange).block-padded,
:global(.block-color-green).block-padded,
:global(.block-color-blue).block-padded,
:global(.block-color-sea).block-padded {
  h2, p {
    color: $white;
  }
  h2 {
    margin-bottom: 12px;
  }
  p {
    line-height: 22px;
  }
};
:global(.section-green) .block-text, :global(.block-color-green) {
  h2 {
    color: $white;
  }
  p {
    color: $forest;
  }
};


@media (--tablet) {
  .block-image-overlay {
  margin-bottom: 120px;
  margin-right: 0 !important;
  margin-left: 0 !important;
  .image {
    width: 405px !important;
  }
  .content {
    width: 348px;
    text-align: left;
    position: relative;
    top: 60px;
    min-height: 330px;
  }
  .icon {
    position: absolute;
    bottom: -25px;
    right: -20px;
  }
}
.overlay-left {
  .content {
    padding: 40px 0 0 75px;
    margin-left: -106px;
  }
  .icon {
    left: -20px;
  }
}
.overlay-right {
  .content {
    padding: 40px 75px 0 0;
    margin-right: -106px;
  }
  .icon {
    right: -20px;
  }
}
}

@media (--phone) {
  .block-image-overlay {
    float: none !important;
  .image {
    width: 300px !important;
  }
  .content {
    clear: both;
    width: 100%;
    min-height: 0;
    padding: 0 20px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
  }
  .icon {
    position: absolute;
    bottom: -25px;
    right: -20px;
  }
}
.overlay-left {
  .image-shell {
    float: right !important;
    margin-right: -20px !important;
  }
}
.overlay-right {
  .image-shell {
    float: left !important;
    margin-left: -20px !important;
  }
}
}