@import "vars.css";

.block-4col {
  padding-top: 60px;
  &:nth-of-type(4n) {
    margin-right: 0 !important;
  }
  h2 {
    font-size: 28px;
    color: $blue;
    font-family: "Vitesse";
  }
  p:first-of-type {
    margin-top:10px;
  }
  ul {
    margin-top: 10px;
  }
  p, li {
    font-size: 14px;
    line-height: 22px;
    margin-top: 4px;
  }
}
.block-caption {
  width: 303px;
  height: 222px;
  position: relative;
  float: left;
  margin-right: 25px;
  margin-bottom: 24px;

  &:nth-of-type(3n) {
    margin-right: 0;
  }
  .label {
    background: $orange;
    color: $white;
    position: absolute;
    top: -4px;
    right: -16px;
    font-family: Karla;
    font-size: 14px;
    padding: 9px 16px;
    z-index: 2;
  }
  .content {
    background: color($canvas a(90%));
    padding: 14px 40px;
    font-family: Vitesse;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    h3 {
      font-weight: 400;
      font-size: 18px;
    }
    p {
      font-size: 15px;
      font-family: VitesseBook;
      margin-bottom: 0;
      line-height: 18px;

      strong {
        color: $orange;
        font-weight: 400;
      }
    }
  }
}
.block-image {
  background: $white;

  &:nth-of-type(2n) {
    margin-right: 0;
  }
  .image {
    margin-bottom: 48px;
  }
  .content {
    padding: 0 50px 35px;
  }
  p {
    font-size: 14.5px;
    line-height: 23px;
  }
}
.block-image-narrow {
  background: $canvas;
  &:nth-of-type(3n) {
    margin-right: 0;
  }
  .image {
    margin-bottom: 26px;
  }
  .content {
    padding: 0 20px 28px;
  }
}
.block-image, .block-image-narrow {
  float: left;
  margin-bottom: 86px;
  margin-right: 48px;

  h2 {
    font-family: "Vitesse";
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 20px;
  }
  span:last-child p {
    margin-bottom: 0;
  }
}
.block-image-overlay {
  clear: both;
  position: relative;
  margin-bottom: 120px;
.image-shell {
  position: relative;
}
  .image {
    width: 475px;
  }
  .content {
    background: white;
    width: 448px;
    text-align: left;
    position: relative;
    top: 60px;

    p {
      font-size: 14px;
      line-height: 22px;
    }
  }
  .icon {
    position: absolute;
    bottom: -20px;
    right: -20px;
  }
}
.overlay-left {
  .image-shell {
    float: left;
  }
  .content {
    float: left;
    padding: 70px 0 0 75px;
    margin-left: -106px;
  }
  .icon {
    left: -20px;
  }
}
.overlay-right {
  .image-shell {
    float: right;
  }
  .content {
    float: right;
    padding: 70px 75px 0 0;
    margin-right: -106px;
  }
  .icon {
    right: -20px;
  }
}
.block-text, .block-padded {
  h4 {
    font-family: "VitesseLight";
    font-size: 24px;
    line-height: 38px;
    color: $dark;
  }
  h2 {
    font-family: "Vitesse";
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 32px;
  }
  h3 {
    line-height: 160%;
  }
  p {
    font-size: 15px;
    line-height: 24px;
    color: $dark;
    margin-bottom: 32px;
  }
  h2:nth-of-type(2) {
    margin-top: -28px;
  }
}

:global(.section-orange) .block-text {
  h2 {
    color: $white;
  }
};
:global(.block-color-orange).block-padded {
  h2, p {
    color: $white;
  }
  h2 {
    margin-bottom: 12px;
  }
  p {
    line-height: 22px;
  }
};
:global(.section-green) .block-text, :global(.block-color-green) {
  h2 {
    color: $white;
  }
  p {
    color: $forest;
  }
};