@import 'vars.css';

.button {
  margin-top: 6px;
  margin-bottom:25px;
}

.layout {
	background: blue;
}

.shell {
	padding: 40px 0 80px;
	background: fff;
	min-height: 400px;
}

.layout input {
	background: #fff;
}

.top-angle {
	background: #f2efed;
	width: 100%;
	height:  80px;
	position: relative;
	top: -70px;
	z-index: 2;
  transform: skewY(1.2deg);
  width: 780px;
  margin-left: -60px;
	left: 0;
	margin-bottom: -80px;
}

.content h1 {
	font-family: Vitesse;
	text-align: center;
}

.content h2 {
	font-family: KarlaBold;
	font-size: 16px;
	margin-top: 50px;
}

.content {
	background: #f2efed;
	width: 780px;
	margin: 180px auto 30px;
	box-sizing: border-box;
	padding: 60px;
}
.content p {
	line-height: 140%;
}
@media screen and (max-width: 1024px) {

  .content {
    padding: 0 16px;
  }

}
