.ticket {
	height: 337px;
  width: 236px;
  background-image: url(https://files.wds.fm/images/v2/ticket-full-full.png);
  background-size: 100% auto;
  display: block;
  float:right;
  transition: ease-in top 0.12s, ease-out transform 0.2s, ease-out right 0.2s;
  position: absolute;
  cursor: pointer;
  right: 60px;
  top: -255px;
  transform: rotateZ(-4deg);
}

.ticket:global.swinging {
  top: -40px;
  right: 64px;
  transform: rotateZ(3deg);
}

.ticket:global.open {
  transition: ease-in top 0.12s, linear transform 0.12s, linear right 0.12s;
  right: 60px;
  top: -40px;
  transform: rotateZ(0deg);
}

@media screen and (max-width: 1024px) {

  .header {
    display: flex;
  }

  .row {
    padding: 0 16px;
  }

}

@media screen and (max-width: 1364px) {
  .ticket {
    top: -231px;
    height: 309px !important;
    width: 216px !important;
  }
}
@media screen and (max-width: 1254px) {
  .ticket {
    top: -205px;
    height: 272px !important;
    width: 190px !important;
  }
}
