@import "vars.css";

.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 500px;
	height: 400px;
  display: block;
  background: #fff;
  padding: 60px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  transition: 0.2s all 0.1s;
}

.newShell {
  margin-top: 30px;
}

.error {
  padding: 8px;
  color: #fff;
  background: #bd461f;
  margin-top: 20px;
  margin-bottom: 14px;
}

.processing {
  position: absolute;
  background: rgba(73, 86, 56, 0.78);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  :global(.format-short) {
    transform: scale(0.7);
    left: -46px;
    top: 7px;
  }
}

.processMessage {
  background: #F1EEEC;
  width: 370px;
  padding: 26px 20px 34px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 160px;
  text-align: center;
  font-family: KarlaItalic;
  font-weight: bold;
  font-size: 19px;
  color: #594C3C;
  border: 2px solid #708F57;
}

.cardSwitcher {
  display: block;
  color: #DB7F1C;
  font-family: Vitesse;
  text-align: center;
  padding: 10px 0 9px;
  background: $white;
  margin-left: -60px;
  margin-right: -60px;
  font-size: 15px;
  text-decoration: none;
}

.existingCardRow {
  background: rgba(5, 5, 5, 0.06);
  margin-left: -154px;
  margin-right: -154px;
  display: block;
  padding: 30px 60px 30px;
  border-width: 1px 0;
  margin-bottom: 40px;
  position: relative;
  z-index: 0;
  margin-top: -45px;
}

.productName {
  padding-top: 4px;
  float: left;
  color: $white;
  font-size: 26px
  ;
  font-family: Vitesse;
}

.cost {
  font-family: VitesseBold;
  font-size: 22pt;
  color: $white;
}

.feeCost {
  font-size: 14px;
  font-family: VitesseBook;
  font-weight: normal;
  width: 100px;
  color: $white;
  margin-top: 6px;
  margin-bottom: -6px;
}

.quantityBox {
  float: right;
  margin-right: 27px;
  margin-top: -21px;
}

.quantityBox label {
  top: -5px;
  display: block;
  font-size: 14px;
  margin-right: 12px;
  color: $white;
  position: relative;
}

.productRow {
  margin-left: -60px;
  margin-right: -60px;
  margin-top: -60px;
  padding: 54px 58px 0;
  font-family: KarlaBold;
  border-bottom: 2px solid $white;
}

.priceBox {
  border-left: 2px solid $white;
  float: right;
  text-align: center;
  margin-top: -54px;
  margin-right: -57px;
  border-left: 2px solid #FFFFFF;
  padding: 38px 20px 36px;
}

.productRow :global(.Select) {
  /*display: inline-block;*/
  float: right;
  width: 95px;
}

.cardExp {
    font-family: KarlaItalic;
    float: right;
    margin-top: -17px;
    color: $white;
}

.cardName {
    font-family: KarlaBold;
    color: $white;
}

.cardIntro {
    font-family: VitesseBold;
    float: left;
    margin-right: 20px;
    color: $white;
}

.checkoutForm button {
  background: #DB7F1C;
  border: 0;
  font-size: 16px;
  color: #fff;
  font-family: Vitesse;
  padding: 12px 36px;
  font-weight: normal;
  font-size: 17px;
  position: relative;
  top: 20px;
  margin-bottom:20px;
}

.zip {
  width: 120px;
}
.cvv {
  width: 90px;
}

@media screen and (max-width: 1024px) {
  .productRow {
    background: #f7f7f2;
    margin-top: -43px;
    padding: 18px 28px 18px 16px;
    font-family: KarlaBold;
    margin-left: -20px;
  }
  .productName {
    font-size: 16px;
  }
  .quantityBox label {
    display: none;
  }
  .priceBox {
        border: 0;
    padding: 5px 0px 5px;
    margin-right: 20px;
    margin-top: -15px;
  }
  .productRow :global(.Select) {
    /*display: inline-block;*/
    float: right;
    width: 55px;
    margin-top: -4px;
  }
  .existingCardRow {
    padding: 20px 16px;
    margin-bottom: 40px;
    box-sizing: border-box;
    width: 100% !important;
  }
  .cardIntro {
    float: none;
    clear:right;
  }

  .cost {
    font-family: VitesseBold;
    color: #908f83;
    font-size: 15pt;
    margin-top:3px;
  }

  .checkoutForm :global(.form-box){
    width: 40%;
    margin-right: 22px;
  }
  .checkoutForm input {
    width: 100%;
  }

.feeCost {
  font-size: 11px;
  font-family: KarlaItalic;
}
.cardSwitcher {
  width: 100%;
}

.checkoutForm button {
  padding: 12px 36px;
  font-size: 17px;
  top: 20px;
  margin-bottom:20px;
  margin-left: auto;
  margin-right: auto;
}


}