@import "vars";
.shell {
  width: 100%;
  padding: 60px 0;
}

:global(.scriptHeader) {
  float: right;
  margin-top: -200px;
  position: relative;
}

.headerImage {
  margin-top: -60px;
  margin-bottom: 60px;
  -webkit-clip-path: url("#header-clip");
  clip-path: url("#header-clip");
  cursor: pointer;
}

.header:hover {
  .playbtn {
    background-color: rgba(255,255,255,1);
  }
}
.playbtn {
  transition: 0.2s all;
  cursor: pointer;
  background-color: rgba(255,255,255,0.85);
  width: 92px;
  height: 92px;
  position: absolute;
  z-index: 4;
  top: 205px;
  left: 0;
  right: 0;
  border-radius: 50%;
  margin: 0 auto;
  border: 0;
  background-image: url(https://files.wds.fm/images/icon/play-orange.png);
  background-size: 22px 32px;
  background-position: 38px center;
  background-repeat: no-repeat;
}