@import "vars";
.shell {
  width: 100%;
  padding: 60px 0;
  -webkit-transform: translate3d(0,0,0);
  &:global(.has-burst) {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 94%;
      width: 399px;
      background-image: url(https://files.wds.fm/images/v2/burst-orange-left.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
    &:after {
      content: "";
      position: absolute;
      top: 70px;
      right: 0;
      height: calc(100% - 70px);
      width: 320px;
      background-position: top right;
      background-image: url(https://files.wds.fm/images/v2/burst-orange-right.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
:global(.greenpage) {
  .shell {
    &:before {
      background-image: url(https://files.wds.fm/images/v2/burst-blue-left.png);
    }
    &:after {
      background-image: url(https://files.wds.fm/images/v2/burst-blue-right.png);
    }
  }
}
:global(.section-blue) {
  h2 {
    color: #fff;
    font-size: 34px;
    margin-bottom: 40px;
  }
}

:global(.scriptHeader) {
  float: right;
  margin-top: -200px;
  position: relative;
}
:global(.greenpage .scriptHeader) {
  filter: saturate(100%);
}

@media(--phone) {
  :global(.scriptHeader) {
    margin-top: -130px;
    position: relative;
    width: 100% !important;
    height: 100px !important;
    background-size: contain !important;
  }
}

.headerImage {
  margin-top: -60px;
  margin-bottom: 60px;
  -webkit-clip-path: url("#header-clip");
  clip-path: url("#header-clip");
  cursor: pointer;
}

.header:hover {
  .playbtn {
    background-color: rgba(255,255,255,1);
  }
}
.playbtn {
  transition: 0.2s all;
  cursor: pointer;
  background-color: rgba(255,255,255,0.85);
  width: 92px;
  height: 92px;
  position: absolute;
  z-index: 4;
  top: 205px;
  left: 0;
  right: 0;
  border-radius: 50%;
  margin: 0 auto;
  border: 0;
  background-image: url(https://files.wds.fm/images/icon/play-orange.png);
  background-size: 22px 32px;
  background-position: 38px center;
  background-repeat: no-repeat;
}
@media (--phone) {
  .playbtn {
    width: 60px;
    height: 60px;
    top: 75px;
    background-position: 25px center;
    background-size: 16px 26px;
  }
}
@media (--tablet) {
  .header {
    margin-left: -20px;
    margin-right: -20px;
  }
}
