@import "vars.css";

.button {
  margin-top: 6px;
}

.link {
	font-family: KarlaBold;
	color: $green;
}

.back {
	font-family: Karla;
  font-size: 12pt;
  padding-top: 15px;
  color: rgb(121, 116, 102);
  display: block;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: -20px;
}
