@import 'vars';

.shell {
  
}

.contentShell {
  margin-top: -220px;
  background: transparent;

  h2 {
    background: $blue;
    color: $white;
    padding: 26px 40px 19px;
    margin-bottom: 0;
    font-size: 34px;
    text-align: left;
  }
  h3 {
    font-size: 24px;
    font-family: Vitesse;
    line-height: 28px;
    font-weight: normal;
    margin-bottom: 32px;
    color: $blue;
   }
}
.sideBtns {
  width: 280px;
  background: transparent;
  margin-right: 20px;
  margin-top: -35px;
  @media(--tablet) {
    height: 430px;
    gap: 1rem;
    margin-top: -200px;
    display: flex;
    width: 100%;
  }
}
.content {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: row;
  @media(--tablet) {
    flex-direction: column;
  }
}