@value colors: "../../../../styles/colors.css";
@value orange from colors;

.button {
  margin-top: 6px;
}
.back {
	font-family: Karla;
  font-size: 12pt;
  padding-top: 15px;
  color: rgb(121, 116, 102);
  display: block;
  text-decoration: none;
  margin-bottom: -20px;
}
