@import "vars";

.hiddenNav {
	display: block;
  left: -9999px;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: $white;
  padding-top: 120px !important;
  transition: 0.2s opacity 0.0s, 0.0s left 1.5s;
  position: fixed;
  z-index: 3;
  &:global(.open) {
    display: block;
    left: 0px;
    opacity: 1;
    transition: 0.2s opacity 0.0s, 0.0s left 0s;
  }
  .link {
    float: none;
    padding: 30px;
    font-size: 28px;
    text-align: center;
    padding-top: 40px;
    width: 100%;
  }
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	padding: 16px 40px;
	background: white;
	box-sizing: border-box;
	z-index: 10;
}

.logo {
  color: blue;
  text-decoration: none;
  background-image: url(https://files.wds.fm/images/logo.png);
  background-size: auto 100%;
  width: 123px;
  height: 26px;
  display: block;
  float: left;
  box-sizing: border-box;
  margin-top: 1px;
  position: relative;
  z-index: 4;
  margin-left: 30px;
  cursor: pointer;
}

.nav {
  position: relative;
  display: inline-block;
  padding-right: 260px;
  padding-left: 100px;
  top: -5px;
}

.link {
	color: $orange;
	display: block;
	float: left;
	font-family: "Vitesse";
	text-decoration: none;
  line-height: 14px;
  padding: 23px 18px;
  margin-top: -11px;
  margin-right: 0;
  transition: 0.2s all;
  &:hover {
    background: $sea;
    color: $white;
  }
  &:global(.active) {
    background: $orange;
    color: $white;
  }
}

@media screen and (max-width: 1024px) {

  .logo {
  display: block;
  }

  .row {
    padding: 0px;
  }

}

.hamburger {
  display: none;
  cursor: pointer;
}
@media(--phone) {
  .hiddenNav {
    padding-top: 80px !important;
    .link {
      font-size: 22px;
      padding: 20px 0;
    }
  }
}
@media(--tablet) {
  .nav {
    width: 100%;
    padding: 0;
    top: 0;
  }
  .logo {
    margin-left: -19px;
  }
  .hamburger {
    border: 0;
    background: transparent;
    float: right;
    margin-top: -22px;
    margin-right: -26px;
    margin-bottom: -6px;
    display: block;
    z-index: 10;
    position: relative;
    span {
      position: relative;
      transition: 0.2s all ease;
      display: block;
      height: 2px;
      width: 25px;
      margin-bottom: 6px;
      background: $sea;
      border-radius: 1px;
    }
    &:global(.open) {
      span {
        transition: 0.2s all ease;
      }
      transition: 0.2s all ease;
      span:nth-of-type(1) {
        transform: rotate(45deg);
        top: 8px;
      }
      span:nth-of-type(3) {
        top: -8px;
        transform: rotate(-45deg);
      }
      span:nth-of-type(2) {
        opacity: 0;
      }
    }
  }
}