@import "vars";
.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 800px;
  display: block;
  background: $green;
  padding: 65px;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  transition: 0.2s all 0.1s;

  iframe {
    margin-bottom: -4px;
  }
}

.form {
  font-size: 19px;
  color: $forest;
  text-align: left;
  line-height: 50px;

  select {
    margin: 0 10px;
  }

  button {
    margin: 20px auto 0;
    width: 200px !important;
    padding: 16px 0;
    border: 0;
    font-size: 16px;
    color: #fff;
    font-family: VitesseBook;
  }

  input {
    color: $white;
    &::placeholder {
      color: $white;
      opacity: 1;
    }
    &:placeholder {
      opacity: 1;
    }
    &::-webkit-input-placeholder {
      opacity: 1;
    }
  }
  .phraseInput {
    border-bottom: 1px solid #fff;
    background: $green;
    font-size: 19px;
    padding-bottom: 14px;
    margin: 0 10px;
  }
}

.modal :global(button.modal-close) {
  content: "X";
width: auto;
height: auto;
background-size: 100% auto;
position: absolute;
right: -21px;
top: -24px;
background: $orange;
color: $white;
opacity: 0.8;
font-size: 26px;
padding: 4px 11px;
  border: 0;
  font-family: VitesseBook;
  font-weight: normal;
border-radius: 50%;
cursor: pointer;
transition: 0.2s all;
border: 0;
&:hover {
  opacity: 1;
};

}

@media screen and (max-width: 1024px) {
  .modal :global(.modal-close) {
    margin-top: 17px;
    margin-bottom: 20px;
  }
  .modal {
    width: 100% !important;
    height: 100% !important;
      padding: 0px 20px;
    margin-left: 0;
    box-sizing: border-box;
    overflow: auto;
  }
  .modal h2, .modal h3 {
    width: 100% !important;
  }
  .modal p {
    width: 100% important
  }
}