@import "vars";
.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 800px;
  display: block;
  background: $dark;
  padding: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  transition: 0.2s all 0.1s;

  iframe {
    margin-bottom: -4px;
  }
}

.modal h2 {
  font-family: Vitesse;
  background: rgb(242, 242, 234) none repeat scroll 0% 0%;
  padding: 20px 60px 18px;
  font-size: 16px;
  margin-left: -60px;
  margin-right: -60px;
  margin-top: 0px;
  margin-bottom: 43px;
  text-transform: uppercase;
}

.modal button {
  background: orange;
  border: 0;
  font-size: 16px;
  color: #fff;
  font-family: VitesseBook;
  padding: 11px 46px;
  font-weight: normal;
}
.modal :global(button.modal-close) {
  content: "X";
width: auto;
height: auto;
background-size: 100% auto;
position: absolute;
right: -28px;
top: -44px;
background: $orange;
color: $white;
opacity: 0.8;
font-size: 26px;
padding: 4px 11px;
border-radius: 50%;
cursor: pointer;
transition: 0.2s all;
&:hover {
  opacity: 1;
};

}

@media screen and (max-width: 1024px) {
  .modal :global(.modal-close) {
    margin-top: 17px;
    margin-bottom: 20px;
  }
  .modal {
    width: 100% !important;
    height: 100% !important;
      padding: 0px 20px;
    margin-left: 0;
    box-sizing: border-box;
    overflow: auto;
  }
  .modal h2, .modal h3 {
    width: 100% !important;
  }
  .modal p {
    width: 100% important
  }
}