@import "vars.css";

.button {
  border: 0;
  color: #fff;
  font-size: 22px;
  padding: 30px 0 20px;
  cursor: pointer;
  text-align: center;
  display: block;
  float: left;
  position: relative;

  &:nth-of-type(2):before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: rgba(0,0,0,0.1);
  }
  &:nth-of-type(2):after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background: rgba(0,0,0,0.1);
  }
  &:nth-of-type(3):before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 4px;
    background: rgba(0,0,0,0.1);
  }

  &:global(.active) {
    background-color: $canvas !important;
    color: $dark;
    font-family: KarlaBold;
    &:before, &:after {display: none};
  }
  &:global(.tab-button-dot) {
    background-image: url("https://files.wds.fm/images/icon/dot-green-inactive.png");
    background-size: 47px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-color: transparent;
    color: $green;
    font-size: 14px;
    font-family: "Vitesse";
    padding-top: 77px;
    padding-bottom: 0;
    margin-top: -12px;
  }
  &:global(.tab-button-dot:before), &:global(.tab-button-dot:after) {
    display: none;
  }
  &:global(.tab-button-dot.active) {
    background-image: url("https://files.wds.fm/images/icon/dot-green.png");
    background-color: transparent !important;
  }
}

