@import 'vars';

.shell {
  h1 {
    position: relative;
    margin: 120px auto 60px;
    font-size: 42px;
    color: $white;
    text-align: center;
    font-family: VitesseBold;

    @media(--tablet) {
      width: 600px;

      @media(--phone) {
        font-size: 32px;
        margin-top: 60px;
        font-family: Vitesse;
        width: 100%;
      }
    }
  }
}
.action {
 padding: 50px;
 color: $white;

 @media(--phone) {
  padding: 24px 16px;
 }

  h2 {
    color: $white;
    margin-bottom: 10px;
  }

  p {
    font-size: 20px;
    color: $white;
    opacity: 0.8;
    margin-top: 0;
    margin-bottom: 50px;
  }
  button {
    display: inline-block;
    margin-right: 20px;
    background: $dark;

    @media(--phone) {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
.assigner {
  h3 {
    text-align: left;
    font-family: Vitesse;
    text-transform: uppercase;
    margin-top: -24px;
    margin-bottom: 20px;

    @media(--phone) {
      text-align: center;
    }
  }
  .error {
    color: #FFFFFF;
    background: #1716164d;
    padding: 18px;
    margin: 18px 0px;
  }
}

.finishBtn {
  width: 300px;
  padding: 20px 10px !important;
  margin: 60px auto 0;

  @media(--phone) {
    width: 100%;
  }
}