@import "vars.css";

.avatarShell {
  overflow: hidden;
  margin-top: -110px;
}
.avatars {
  position: relative;
  transition: 0.2s;
  /*left: -153px;*/
}
.avatar {
  cursor: pointer;
  background: #fff;
  display: block;
  float: left;
  border-radius: 50%;
  border: 4px solid #fff;
  overflow: hidden;
  opacity: 1;
  position: relative;
  width: 105px;
  height: 105px;
  padding: 0;
  -webkit-transform: translate3d(0,0,0);

  div {
    opacity: 0.4;
    transition: 0.2s;
    overflow: hidden;
    border-radius: 50%;

    &:global(.active) {
      opacity: 1;
      &:before {
        opacity: 0.5;
      };
    };

    &:before {
      width: 105px;
      height: 105px;
      background: #62C0CA;
      opacity: 0;
      transition: 0.2s all;
      content: "";
      position: absolute;
      top: -1px;
      left: -1px;
      border-radius: 50%;
      display: block;
    }
  }
}
.bigphoto {
  opacity: 0.1;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.title {
  padding: 75px 0 35px;
  margin-bottom: 0;
  color: $blue;
}
.quote {
  color: $blue;
  font-size: 30px;
  line-height: 39px;
  font-family: KarlaItalic;
  padding-bottom: 100px;
}
.name {
  font-family: VitesseBold;
  font-size: 26px;
  padding: 0 0 125px;
  color: $blue;
}
.controls button {
    width: 40px;
    height: 60px;
    background-size: 28px 46px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    z-index: 6;
    cursor: pointer;
    border: 0;
    position: absolute;
    top: -75px;

  }
  .arrow-prev {
    background-image: url("https://files.wds.fm/images/icon/arrow-left-blue.png");
    left: 65px;
  }
  .arrow-next {
    background-image: url("https://files.wds.fm/images/icon/arrow-right-blue.png");
    right: 65px;
  }