@import "vars.css";

.item {
  width: 492px;
  float: right;

  @media(--phone) {
    width: 100%;
  }
}
.content {font-size : 15px;}
.contentShell {
  background: $canvas;
  margin-left: 70px;
padding: 12px 12px 14px 12px;
margin-bottom: 2px; 
position: relative;
}
.posted {
  font-family: KarlaItalic;
  color: rgb(171, 171, 157);
  margin-bottom: 8px;
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 14px;
}
.author {
  color: $orange;
  font-family: Vitesse;
  text-decoration: none;
  font-size: 15px;
  display: block;
  margin-bottom: 8px;
}
.avatar :global(.avatar) {
      width: 46px;
    height: 46px;
    border-radius: 50%;
    float: left;
    margin-right: 18px;
    margin-top: 1px;
    margin-left: 19px;
}
.controls {
  margin-top: 16px;
  margin-bottom: -8px;
  text-align: left;

  button {
    font-family: Karla;
    font-size: 14px;
    text-decoration: underline;
    border: 0;
    background: transparent;
    color: $orange;
    cursor: pointer;
    text-align: left;
    padding: 0;
    margin-right: 12px;
  }
}
.likes {
  text-decoration: none;

  div, span {
    display: inline-block;
  }
  div {
    text-decoration: underline;
  }
  span {
    font-size: 12px;
    text-decoration: none;
    color: rgb(171, 171, 157);
    font-family: VitesseBook;
    padding-right: 14px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 1px;
      height: 8px;
      background: rgb(171, 171, 157);
      display: block;
      top: 3px;
      right: 7px;
    }
  }
}
