$orange: #CF7F1A;
$spice: rgba(174, 96, 0, 0.25);
$gray: #f2efed;
$green: #B1BC40;
$forest: #33571D;
$sea: #62C0CA;
$blue: #0373A5;
$white: #FFFFFF;
$dark: #21170A;
$black: #000000;
$canvas: #F1EEEC;
$brown: #5F3D13;
