$orange: #FD7021;
$spice: #FD7021;
$red: #E54B2C;
$gray: #f2efed;
$bluegray: #E6E6E6;
$green: #39B54A;
$forest: #39B54A;
$sea: #39B54A;
$blue: #0F54ED;
$white: #FFFFFF;
$dark: #262A36;
$black: #000000;
$canvas: #F4F4F4;
$brown: #5F3D13;
