@import "vars.css";
@font-face {font-family: "Vitesse"; src: url("https://files.wds.fm/fonts/VitesseMedium.otf") format("opentype");}
@font-face {font-family: "VitesseLight"; src: url("https://files.wds.fm/fonts/VitesseLight.otf") format("opentype");}
@font-face {font-family: "VitesseBold"; src: url("https://files.wds.fm/fonts/VitesseBold.otf") format("opentype");}
@font-face {font-family: "VitesseBook"; src: url("https://files.wds.fm/fonts/VitesseBook.otf") format("opentype");}
@font-face {font-family: "Populaire"; src: url("https://files.wds.fm/fonts/Populaire.otf") format("opentype");}
@font-face {font-family: "Karla"; src: url("https://files.wds.fm/fonts/Karla-Regular.ttf") format("truetype");}
@font-face {font-family: "KarlaBold"; src: url("https://files.wds.fm/fonts/Karla-Bold.ttf") format("truetype");}
@font-face {font-family: "KarlaItalic"; src: url("https://files.wds.fm/fonts/Karla-Italic.ttf") format("truetype");}

body {
	font-family: "Karla", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

section {
	position: relative;
}

main {
  padding-top: 60px;
}

.bigger p {
  font-size: 18px;
  line-height: 27px;
}

#polygons, #preloads {
  position: absolute;
  left: -999999px;
  top: -999999px;
}

.contentainer {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.clear {
	clear:both;
}

p {
	margin-bottom: 16px;
}

.modal-close {
  background: url(https://files.wds.fm/images/button-close.png);
  width: 22.5px;
  height: 22.5px;
  background-size: 100% auto;
  position: absolute;
  right: 20px;
  top: 16px;
}
@media screen and (max-width: 1024px) {
  .modal-close {
    background: url(https://files.wds.fm/images/button-close.png);
    width: 22.5px;
    height: 22.5px;
    background-size: 100% auto;
    position: absolute;
    right: 20px;
    top: 0px;
  }
}

.tweet-enter {
  opacity: 0.01;
}

.tweet-enter.tweet-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in 0.2s;
}

.tweet-leave {
  opacity: 1;
}

.tweet-leave.tweet-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.tweet-appear {
  opacity: 0.01;
}

.tweet-appear.tweet-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in 0.2s;
}


.welcomeHeader-enter {
  opacity: 0.01;
}

.welcomeHeader-enter.welcomeHeader-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in 0.2s;
}

.welcomeHeader-leave {
  opacity: 1;
}

.welcomeHeader-leave.welcomeHeader-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.welcomeHeader-appear {
  opacity: 0.01;
}

.welcomeHeader-appear.welcomeHeader-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in 0.00s;
}

.welcomeContent-enter {
  opacity: 0.01;
}

.welcomeContent-enter.welcomeContent-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in 0.2s;
}

.welcomeContent-leave {
  opacity: 1;
}

.welcomeContent-leave.welcomeContent-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in, top 900ms;
  top: 208px;
}
.welcomeContent-appear {
  opacity: 0.01;
}

.welcomeContent-appear.welcomeContent-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in 0.3s;
}

.image-left {
  margin-right: 50px;
}
.form-box {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.form-box:last-child {
  margin-right: 0;
}

.form-row {
  clear: both;
}

form label {
  display: block;
  color: rgb(0, 115, 173);
  margin-bottom: 3px;
}

form input {
  border: 0;
  background: #eeefe9;
  font-size: 17px;
  padding: 10px;
}

.table-list {
  li {
    text-align: right;
    padding-left: 0;
    @media(--phone) {
      text-align: center;
    }

    i, b, strong, em {
      display: block;
      font-weight: bold;
      font-style: normal;
      float: left;
      @media(--phone) {
        display: block;
        font-size: 17px;
        float: none;
        text-align: center;
        width: 70%;
        margin: 0 auto 10px !important;
      }
    }
    .highlight {
      padding: 10px;
      position: relative;
      margin-top: -10px;
      margin-left: -10px;
      text-align: center;

      &-1 {
        clip-path: url(#hl1);
      }
    }
  }
}
.highlight:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #b7dbdf;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border: 0;
  }
.highlight.highlight-1::before {
    transform: skewX(4deg) rotate(2deg) skewY(0deg);
}
.highlight.highlight-2::before {
    transform: skewX(3deg) rotate(2deg) skewY(-3deg);
}
.highlight.highlight-3::before {
    transform: skewX(2deg) rotate(-1deg) skewY(0deg);
}
.has-checklist, .table-list {
  @media(--phone) {
    h2 {
      margin-top: 40px;
    }
  }
  h2 { margin-bottom: 18px; margin-top: 15px; }
  span:last-of-type {display: block; margin-bottom: 25px;}
  ul {
    padding: 0;
  }
  li {
    line-height: 24px;
    font-size: 14.5px;
    list-style-type: none;
    position: relative;
    background-image: url(https://files.wds.fm/images/underline-1.png);
    background-size: 100% 6px;
    background-color: transparent;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    padding-top: 18px;
  }
}
.has-checklist li {
  text-align: left;
    padding-left: 32px;
}
.has-checklist li:before {
  background: url(https://files.wds.fm/images/check.png);
  width: 14px;
  height: 17px;
  content: "";
  position: absolute;
  left: 5px;
  top: 22px;
  background-size: 100% auto;
}

.textalign-left {
  text-align: left;
}
.textalign-center {
  text-align: center;
}
.textalign-right {
  text-align: right;
}


/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/JedWatson/react-select
*/
.Select {
  position: relative;
}
.Select,
.Select div,
.Select input,
.Select span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Select.is-disabled > .Select-control {
  background-color: #f9f9f9;
}
.Select.is-disabled > .Select-control:hover {
  box-shadow: none;
}
.Select.is-disabled .Select-arrow-zone {
  cursor: default;
  pointer-events: none;
  opacity: 0.35;
}
.Select-control {
	 background-color: #eeefe9;
  border-radius: 0;
  cursor: default;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 36px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.Select-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.Select-control .Select-input:focus {
  outline: none;
}
.is-searchable.is-open > .Select-control {
  cursor: text;
}
.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff;
  border: 0;
}
.is-open > .Select-control > .Select-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}
.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text;
}
.is-focused:not(.is-open) > .Select-control {
  /*border-color: #007eff;*/
  /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);*/
}
.Select-placeholder,
.Select--single > .Select-control .Select-value {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #73726c;
}
.has-value.Select--single > .Select-control .Select-value a.Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label {
  cursor: pointer;
  text-decoration: none;
}
.has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
  color: #007eff;
  outline: none;
  text-decoration: underline;
}
.Select-input {
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.Select-input > input {
  width: 100%;
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  cursor: default;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  outline: none;
  line-height: 14px;
  /* For IE 8 compatibility */
  padding: 8px 0 12px;
  /* For IE 8 compatibility */
  -webkit-appearance: none;
}
.is-focused .Select-input > input {
  cursor: text;
}
.has-value.is-pseudo-focused .Select-input {
  opacity: 0;
}
.Select-control:not(.is-searchable) > .Select-input {
  outline: none;
}
.Select-loading-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 16px;
}
.Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  -o-animation: Select-animation-spin 400ms infinite linear;
  animation: Select-animation-spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-right-color: #333;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.Select-clear-zone {
  -webkit-animation: Select-animation-fadeIn 200ms;
  -o-animation: Select-animation-fadeIn 200ms;
  animation: Select-animation-fadeIn 200ms;
  color: #999;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 17px;
}
.Select-clear-zone:hover {
  color: #D0021B;
}
.Select-clear {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
}
.Select--multi .Select-clear-zone {
  width: 17px;
}
.Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px;
}
.Select-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
  height: 0;
  width: 0;
}
.is-open .Select-arrow,
.Select-arrow-zone:hover > .Select-arrow {
  border-top-color: #666;
}
.Select--multi .Select-multi-value-wrapper {
  display: inline-block;
}
.Select .Select-aria-only {
  display: inline-block;
  height: 1px;
  width: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  border: 0px solid #c4c2a1;
  border-top-color: #e6e6e6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}
.Select-menu {
  max-height: 198px;
  overflow-y: auto;
}
.Select-option {
  box-sizing: border-box;
  background-color: #fff;
  color: #666666;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}
.Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.Select-option.is-selected {
  background-color: #f5faff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.04);
  color: #73726c;
}
.Select-option.is-focused {
  background-color: #ebf5ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.08);
  color: #73726c;
}
.Select-option.is-disabled {
  color: #cccccc;
  cursor: default;
}
.Select-noresults {
  box-sizing: border-box;
  color: #999999;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
.Select--multi .Select-input {
  vertical-align: middle;
  margin-left: 10px;
  padding: 0;
}
.Select--multi.has-value .Select-input {
  margin-left: 5px;
}
.Select--multi .Select-value {
  background-color: #ebf5ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.08);
  border-radius: 2px;
  border: 1px solid #c2e0ff;
  /* Fallback color for IE 8 */
  border: 1px solid rgba(0, 126, 255, 0.24);
  color: #007eff;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.4;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top;
}
.Select--multi .Select-value-icon,
.Select--multi .Select-value-label {
  display: inline-block;
  vertical-align: middle;
}
.Select--multi .Select-value-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 2px 5px;
}
.Select--multi a.Select-value-label {
  color: #007eff;
  cursor: pointer;
  text-decoration: none;
}
.Select--multi a.Select-value-label:hover {
  text-decoration: underline;
}
.Select--multi .Select-value-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #c2e0ff;
  /* Fallback color for IE 8 */
  border-right: 1px solid rgba(0, 126, 255, 0.24);
  padding: 1px 5px 3px;
}
.Select--multi .Select-value-icon:hover,
.Select--multi .Select-value-icon:focus {
  background-color: #efeeda;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 113, 230, 0.08);
  color: #0071e6;
}
.Select--multi .Select-value-icon:active {
  background-color: #c2e0ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.24);
}
.Select--multi.is-disabled .Select-value {
  background-color: #fcfcfc;
  border: 1px solid #e3e3e3;
  color: #73726c;
}
.Select--multi.is-disabled .Select-value-icon {
  cursor: not-allowed;
  border-right: 1px solid #e3e3e3;
}
.Select--multi.is-disabled .Select-value-icon:hover,
.Select--multi.is-disabled .Select-value-icon:focus,
.Select--multi.is-disabled .Select-value-icon:active {
  background-color: #fcfcfc;
}
@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}