<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= config.title %></title>
    <meta name="description" content="WDS is a worldwide gathering of remarkable people. Every summer we meet in Portland, Oregon for a weeklong experience focused on community, adventure, and service.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title"              content="World Dominaton Summit 2018" />
    <meta property="og:description"        content="Join us in Portland, Oregon this summer for an adventure like no other. WDS features inspiring keynote speakers, more than a hundred meetups & activities, and a chance to connect with like-minded people from all over the world." />
    <meta property="og:image"              content="https://files.wds.fm/images/fb-banner.jpg" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyB0f6-yOVfqeOdkaomM-eVuhIyWq3rHOTw"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
    <link rel="icon" type="image/png" href="https://files.wds.fm/images/favicon.png" />
  </head>
  <body>
    <script type="text/javascript" src="//fast.fonts.net/jsapi/18e0316b-0c7c-4e34-aa90-b7c55bbddde0.js"></script>
    <div id="root"></div>
    <script src="<%= bundle %>"></script>
    <%_ if (!debug && config.trackingID) { _%>
    <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','<%= config.trackingID %>','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    <%_ } _%>
    <script type="text/javascript" src="https://js.stripe.com/v2/" async defer></script>
    <div id="polygons">
        <svg width="0" height="0">
          <defs>
            <clipPath id="hl1" clipPathUnits="objectBoundingBox">
              <polygon points="0 0, 1 0, 1 1, 0 0.5" />
            </clipPath>
          </defs>
        </svg>

    </div>
    <div id="preloads"></div>
    <!-- begin olark code -->
    <script type="text/javascript" async>
    ;(function(o,l,a,r,k,y){if(o.olark)return;
    r="script";y=l.createElement(r);r=l.getElementsByTagName(r)[0];
    y.async=1;y.src="//"+a;r.parentNode.insertBefore(y,r);
    y=o.olark=function(){k.s.push(arguments);k.t.push(+new Date)};
    y.extend=function(i,j){y("extend",i,j)};
    y.identify=function(i){y("identify",k.i=i)};
    y.configure=function(i,j){y("configure",i,j);k.c[i]=j};
    k=y._={s:[],t:[+new Date],c:{},l:a};
    })(window,document,"static.olark.com/jsclient/loader.js");
    /* Add configuration calls bellow this comment */
    olark.identify('8754-790-10-4203');</script>
  </body>
</html>
