@import 'vars';

.shell {
  
}
.footer {
  position: relative;
  padding: 47px 0 53px;
  text-align: center;
  background: #E54B2C;
  .links {
    position: relative;
    z-index: 5;
    margin: 10px auto;
    display: inline-block;
    a {
      color: $white;
      float: left;
      margin-right: 20px;
      position: relative;
      text-decoration: none;

      &:before {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: $white;
        content: "";
        position: absolute;
        right: -12px;
        top: 7px;
      };
    }
    a:last-child {
      margin-right: 0;

      &:before {
        display: none;
      }
    }
  }
  .sub {
    position: relative;
    z-index: 5;
    color: $white;
    opacity: 0.5;
  }
  &:before {
    content: "";
    background-image: url(https://files.wds.fm/images/v2/footer-red-left.png);
    width: 383px;
    height: 160px;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    @media(--tablet) {
      opacity: 0.1;
    }
  }
  &:after {
    content: "";
    background-image: url(https://files.wds.fm/images/v2/footer-red-right.png);
    width: 480px;
    height: 160px;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 0;
    @media(--tablet) {
      opacity: 0.1;
    }
  }
}
:global(.greenpage) {
  .footer {
    background: #0F54ED;
    &:before {
      background-image: url(https://files.wds.fm/images/v2/footer-blue-left.png);
    }
    &:after {
      background-image: url(https://files.wds.fm/images/v2/footer-blue-right.png);
    }
  }
}