@import "vars.css";

.namesample {
  font-size: 15px;
}

.shell {
  position: relative;
}
.usernameStatus {
  position: absolute;
  top: 1px;
  right: 0;
  font-size: 14px;
  opacity: 0.8;
}
:global .available.usernameInp {
  background: $green;
}
:global .not-available.usernameInp {
  background: #CF4D1A;
}
