@import "vars.css";


.name {
  color: $orange;
  font-family: Vitesse;
  font-size: 18px;
  text-align: center;
  width: 100%;
  padding: 10px 20px 0;
}
.avatar {
  border-radius: 50%;
  margin: 0 auto 20px;
  position: relative;
  z-index: 2;
}

.cutout {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 3;
  margin: 0 auto;
  right: 0;
  @media(--phone) {
    top: 60px;
  }
}
.title p {
  color: $orange;
  font-size: 26px;
  padding: 50px 0 0;
  margin-bottom: -40px;
  font-family: VitesseBold;
  @media(--phone) {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}
.box {
  padding: 100px 0px 50px;
  position: relative;
  @media(--phone) {
    padding: 60px 0 0px;
  }
}
.speakerList {
  padding: 0 0px;
  position: relative;
  :global(.slick-arrow) {
    display: none !important;
  }
  .controls button {
    width: 40px;
    height: 60px;
    background-size: 28px 46px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    z-index: 6;
    cursor: pointer;
    border: 0;
    position: absolute;
    top: 156px;
    @media(--phone) {
      width: 16px;
      height: 40px;
      background-size: contain;
    }

    &:before {
      display: none;
    }
    &:hover {
      background-size: 28px 46px;
      background-repeat: no-repeat;
      background-position: center;
      @media(--phone) {
        background-size: contain;
      }
    }

  }
  .arrow-prev {
    background-image: url("https://files.wds.fm/images/icon/arrow-left-green.png");
    left: 25px;

    @media(--phone) {
      left: 10px;
    }
  }
  .arrow-next {
    background-image: url("https://files.wds.fm/images/icon/arrow-right-green.png");
    right: 25px;
    @media(--phone) {
      right: 10px;
    }
  }
}

:global(.slick-slide.slick-active) {
    opacity: 1;
}
:global(.slick-slide) {
    opacity: 0;
    transition: 0.2s all;
}

@media(--tablet) {
  .speakerList .controls button {
    top: 32px;
  }
  :global(.slick-slide) {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
