@import "vars";
.modals {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  display: block;
  background: transparent;
  z-index: 200;
}

.modals h3 {
  color: $dark;
  font-family: Vitesse;
  font-size: 26px;
}

.modals p {
  font-size: 18px;
}

.modals:global(.hidden) {
  display: none;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  display: block;
  z-index: 200;
  background: rgba(0,0,0,0.2);
  transition: 0.2s all 0.1s;
  border: 0;
  opacity: 0;
}

.modals:global(.visible) .overlay {
  opacity: 1;
  transition: 0.2s all 0.0s;
}

.modals :global(.modal) {
	z-index: 201;
	opacity: 0;
  box-shadow: -38px -26px 125px rgba(0,0,0,0.1);
  transition: 0.2s all 0.0s;
}

.modals:global(.visible) :global(.modal) {
  transition: 0.2s opacity 0.1s, 0.2s box-shadow 0.1s;
  opacity: 1;
  box-shadow: 78px 66px 125px rgba(0,0,0,0.4);
}
