@import "vars.css";

.button {
  display: block;
  padding: 15px 28px;
  background: $orange;
  border: 0;
  color: $white;
  font-family: Vitesse;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

:global(.block-image) .button {
  display: inline-block;
  margin-top: 14px;
};