@import "vars.css";

.row {
  
}
.pretext {
  span {
    float: left;
    display: block;
    background: white;
    padding: 17px 7px 16px;
    margin-bottom: -60px;
    width: 70px;
    color: $blue; 
  }

  input {
    background: transparent;
    border: 2px solid #FFFFFF;
    padding: 14px 28px;
    font-family: Karla;
    margin-left: 70px;
    display: block;
    width: -moz-available;
    width: -webkit-fill; 
  }
}

.box {
  float: left;
  width: 100%;

}
.inp {
  background: transparent;
  border: 2px solid $white;
  padding: 14px 28px;
  font-family: Karla;
  width: 100%;
}

:global(.block-color-white) .inp {
  border-color: $dark;
  margin-bottom: 16px;
}

:global(.section-orange), :global(.block-color-orange) {
  input {
    color: $white;

    &::placeholder {
      color: $white;
      opacity: 0.8;
    }
    &:placeholder {
      opacity: 0.8;
    }
    &::-webkit-input-placeholder {
      opacity: 0.8;
    };
  }
}
