@import "vars.css";

.shell {

position: relative;
  margin-bottom: 20px;
  width: 380px;
  margin-top: -20px;

  @media(--tablet) {
    margin: -20px auto 20px;
  }

  @media(--phone) {
    width: 100%;
  }

  button {
    padding: 10px 11px;
    font-size: 16px;
    clear: both;
    margin-right: 13px;
    width: 100%;
    margin-bottom: 60px;
    background: #62C0CA;
    margin-top: -3px !important;
    position: relative;
  }

  .count {
    position: absolute;
    top: 0;
    font-family: KarlaItalic;
    font-size: 18px;
    right: 0;
  }
  .tweet {

  padding: 20px;
  background: transparent;
  color: $white;
  margin-top: 20px;
  border: 2px solid #fff;
  height: 100px;
  width: 380px;
  @media(--phone) {
    width: 100%;
  }
  }
}

