@import "vars.css";

.shell {

position: relative;
  margin-bottom: 20px;
  width: 380px;
  margin-top: -20px;

  @media(--phone) {
    width: 100%;
  }

  button {
    font-size: 16px;
    clear: both;
    margin-right: 13px;
    margin-top: 28px !important;
    width: 100%;
    margin-bottom: 60px;
  }

  .inp {
    border: 2px solid $white;
  }
}
:global(.block-color-white) {
  .shell {
    text-align: left;

    label {
      text-align: left;
      font-size: 18px;
      font-family: Vitesse;
      color: $blue;
      display: block;
      margin-bottom: 10px;
    }
    textarea {
      border: 2px solid $dark;
      padding: 16px;
      width: 360px;
      height: 120px;
    }
  }
}

