@import "vars.css";

.interests {
  width: 700px;
  margin-left: -165px;

  &:global(.onWhite) {

    button {
      background: #eeefe9;
      border: 0;
      padding: 12px;
    }
  }

  @media(--phone) {
    width: 100%;
    margin-left: 0;
  }
  @media(--tablet) {
    margin-top: -70px;
    margin-bottom: 120px;
  }

  button {
    border: 2px solid $white;
    padding: 10px;
    color: $white;
    background: transparent;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 0px;
    cursor: pointer;
    transition: 0.2s all;

    &:hover {
      background-color: rgba(255,255,255, 0.15);
    };
  }

  h3 {
    clear: both;
    margin-bottom: 8px;
    margin-top: 20px;
  }
}

:global(.block-color-white) .interests {

  &:global(.onWhite) {
    width: 100%;

    .all {
      margin-top: 10px;
    }
  }
  width: 600px;
  margin: 0 auto 30px;

  button {
    color: $dark;
    border-color: $dark;
  }
}
.mine {
  button:hover {
    background-color: #B64025;
    border-color: #B64025;
    color: $white;
  }
}

.all {
  button:hover {
      background-color: $green;
      color: $white;
    };
  margin-top: 40px;
  margin-bottom: 30px;
}